*{
    font-family: Arial, Helvetica, sans-serif;
}
#timer{
    font-weight: bold;
}
body{
    background-color: purple;
}
table{
    background-color: white;
    margin-top: 20px;
}

.whiteBckg{
    background-color: white;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
}